extends ../template/default
  
block content
  section.hero.is-fullheight.is-info.is-bold
    div.hero-body
      div.container.has-text-centered
        h1.title Safe.wtf
        h2.subtitle A modern self-hosted file upload service.

        form(method='post' action='/api/upload' enctype='multipart/form-data')
          button.button.is-white.is-outlined.js-upload-button(type='button') Upload
          input.js-upload-input(type='file' name='files[]')
          input(type='submit' value='Submit')
        
        ul.js-upload-filelist
  
    div.hero-foot
      div.container.has-text-centered
        a(href='https://github.com/kevinvdburgt/safe.wtf' target='_blank') View on GitHub

        